{% extends 'base.html' %}
{% load static %}


{% block body %}

    <main>
        <div class="container">
            
            <div class="row my-5 ">
                <h2>Tüm Kurslar</h2>
                <hr>
                {% for i in kurs_list  %}
                <div class="col-2" style="margin-right: 6rem; margin-top: 1rem;">
                    <div style="width: 18rem;">
                        <a href="{% url 'detailPage' i.id %}">
                            <img src="{{i.image.url}}" class= "card-img-top"/>
                            <div class="card-body my-2">
                                <h6 class="card-title fw-bold">{{ i.title | truncatechars:75}}</h6>
                            </div>
                            <div style="display: block; justify-content: start; " >
                            </div>
                            <div class="card-body">
                                <a href="#" class="card-link text-black">{{ i.puan }} <i class="fa-solid fa-star text-warning "></i></a>
                            </div>
                            <div class="card-body">
                                <a href="#" class="card-link text-black">{{ i.price }}  ₺ </a>
                            </div>
                            <div class="card-body">
                                <a href="#" class="card-link text-black">{{ i.category }}</a>
                            </div>
                            <div class="card-body">
                                <a href="#" class="card-link text-primary">{{ i.user}}</a>
                            </div>
                         </a>
                        </div>
                    </div>
                    {% endfor %}
                <hr>
            </div>    
        </div>
    </main>



    
{% endblock body %}
    