{% extends 'base.html' %}
{% load static %}


{% block body %}

<div class="container">
    <h1 class="my-3">Yeni Ürün Ekle</h1>
   
     <form method="POST" enctype="multipart/form-data"> 
        <!-- enctype="multipart/form-data" ifadesi, HTML formunun dosya yüklemesi içerdiğini belirtir. Bu, dosya yükleme işlemleri için gerekli olan bir özelliktir.
        Django'da dosya yüklemesi için kullanılan ImageField veya FileField gibi alanlar bulunuyorsa, bu özellik kullanılmalıdır. -->
        {% csrf_token %}
        {{ form.as_p }}
        <!-- as_p bir Django formunu HTML'de bir paragraf içindeki tüm alanları içeren bir temsil (representation) olarak döndürmek için kullanılan bir Form metotudur. {{ form.as_p }}, formdaki tüm alanları düzenli bir şekilde sıralı bir
        şekilde paragraf (p) etiketleri içinde render eder. Bu, genellikle basit ve düzenli bir form görünümü elde etmek için kullanılır. -->
        <button type="submit">Kurs Oluştur</button>
    </form>
    </div>



{% endblock body %}
















 <!-- <form method="POST">
        {% csrf_token %}

        <h3>Coursera'da Kendi Eğitim İçeriğini oLuştur</h3>
        <input type="file" class="my-4" name="image" placeholder="Fotograf Yükleyiniz" style= " border: 2px solid red; width: 500px; height: 200px;">
        <div class="my-4">
            <input type="text" style="width: 500px;" width="200px" name="title" placeholder="Ders Başlığı...">
            <input type="number" name="price" placeholder="Fiyat ₺">
            <input placeholder="Online Kategori..." list="OnlineKategori" name="okategori" >
            <datalist id="OnlineKategori">
                <option value="Dijital Pazarlama">
                <option value="Tasarım">
                <option value="Ofis yetenekleri">
                <option value="Finans ve Muhasebe">
                <option value="Yazılım">
                <option value="Kişisel Gelişim">
            </datalist>
            <input placeholder="Yüz Yüze Kategori..." list="YüzYüzeKategori" name="ykategori">
            <datalist id="YüzYüzeKategori">
                <option value="Yüzme">
                <option value="Plates">
                <option value="Yoga">
                <option value="Müzik">
                <option value="Futbol">
                <option value="Tenis">
                <option value="Savunma Sanatları">
            </datalist>
            <input type="text" name="province" placeholder="İl Giriniz" >


            <textarea class="my-4 w-100" name="text" placeholder="Lütfen Kursunuzun Tanımını yapınız..." cols="30" rows="10"></textarea>
            <button type="submit" class="btn btn-success w-100" >Paylaş</button>
        </div>    

    </form>
     -->