  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    transition: opacity 0.5s ease; /* Açık kalma süresini kontrol eden özellik */
    opacity: 1; /* Dropdown menüsünün tamamen görünür olması */
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff; /* Arka plan rengi isteğinize göre ayarlanabilir */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: opacity 0.5s ease; /* Açık kalma süresini kontrol eden özellik */
  }
  
  .dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-menu a:hover {
    background-color: #f1f1f1;
  }  